:root {
  --primary-color: hsl(193deg 100% 50%);
}

* {
  accent-color: var(--primary-color);
}

body {
  margin: 0;
}

a {
  color: var(--primary-color);
  font-style: italic;
}

main {
  margin: 0.5rem;
}

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  font-style: italic;
  color: rgba(55 65 81);
  border-left: 2px solid rgba(209 213 219);
}
