:root {
  --primary-color: #00c8ff;
  --primary-text-background-color: color-mix(
    in srgb,
    var(--primary-color) 12%,
    transparent
  );
}

* {
  accent-color: var(--primary-color);
  border: 0 solid #e5e7eb;
}

html {
  scroll-padding-top: 5rem;
  font-size: 1rem;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  margin: 0;
}

a {
  color: var(--primary-color);
  font-style: italic;
}

main {
  margin: 0.5rem;
  margin-top: 5rem;
}

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  font-style: italic;
  color: rgba(55 65 81);
  border-left: 2px solid rgba(209 213 219);
}

table {
  display: block;
  overflow-x: auto;
}

pre {
  background-color: var(--primary-text-background-color);
  border-radius: 0.75rem;
  padding: 1rem;
}
