# OreOreBot2 をビルドします。

name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build OreOreBot2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4

      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: Build (bot)
        run: pnpm build:bot

  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: eslint (bot)
        run: pnpm lint:bot

  license_checker:
    name: license-checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Install packages
        run: pnpm install --frozen-lockfile
      - name: license-checker
        run: pnpm dlx @guidesmiths/license-checker --failOn /GPL/ --disableReport
