# Coverageのレポートを作成、送信します。

name: Coverage

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  coverage:
    name: Send code coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Install packages
        run: pnpm install --frozen-lockfile
      - name: Generate code coverage report
        run: pnpm coverage

      - uses: codecov/codecov-action@v5
        with:
          files: ./packages/bot/coverage/clover.xml
          flags: unittests
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
