name: run jest

on:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  run_jest:
    name: jest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install packages
        run: yarn install
      - name: Test with Jest
        run: yarn test
